# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environments
venv/
.env/
myenv/

# Ignore build and distribution directories
build/
dist/

# Ignore logs
*.log

# Ignore config files (ถ้าไม่ต้องการ track)
.env
.vscode/

# Ignore Node.js modules (Frontend)
/Frontend/node_modules/

# Build output
.next/
out/

# Ignore log files and build artifacts in Backend
/Backend/*.log
/Backend/build/

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore IDE configurations
.idea/
.vscode/
.DS_Store
